{{> head}}

  {{> navbar}}
  <div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Resumen</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet perferendis accusamus sed facilis similique consectetur optio pariatur labore aut quasi ad, corporis officiis! Corporis ipsam, quia vitae blanditiis rerum impedit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere perspiciatis, nulla iste velit sapiente, molestias provident optio quidem sint, animi tempora porro consequuntur doloremque nesciunt eligendi quibusdam eum. Quis, officiis.
            </p>
        </div>
        <div class="col-4">
            <h1>Javascript</h1>
            <img src="assets/img/js.png" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}